<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket-List{% endblock %}</title>
    <link rel="icon" href="{{ asset('/images/favicon.png') }}">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="bg-secondary text-white p-3">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <a class="nav-link text-white" href="{{ path('main_home') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="logo" height="50">
                </a>
                <h1 class="h4 mb-0 ms-3">Bucket-List</h1>
            </div>
            <nav class="d-flex flex-column align-items-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('main_home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('main_about_us') }}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_wish_list') }}">Wish list</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block body %}
        {% endblock %}
    </main>

    <footer class="bg-light text-center py-3 mt-auto">
        <p>©Bucket-List - {{ 'now'|date('Y') }} </p>
    </footer>
</body>
</html>


